.form-container{
    display: flex;
    width: 100%;
    min-height: 100vh;
    /* border: 1px solid black; */
    justify-content: center;
    align-items: center;
}
.form-container .card{
    max-width: 320px;
}
input.skipped.form-control:invalid{
    border:red 1px solid;
}
.form-group{
    display:flex;
    flex-direction:column;
}
.error{
    color:red;
    font-size:12px;
    text-align:right;
}
.visitor-list{
    list-style: none;
    display: flex;
    gap:10px;
}
.visitor-list li{
    border:1px solid black;
    display: flex;
    flex-direction: column;
    gap:10px;
}
.visitor-list li span{
    font-weight: bold;
}
.visitor-list li .name{
    font-size:20px;
}
.visitor-list li .email{
    color:blue;
    font-size:12px;
}
.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border:1px solid black; */
    width:100%;
}
.flex-end{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}