.form-container{
    display: flex;
    width: 100%;
    min-height: 100vh;
    /* border: 1px solid black; */
    justify-content: center;
    align-items: center;
}
.form-container .card{
    max-width: 320px;
}
input.skipped.form-control:invalid{
    border:red 1px solid;
}
.form-group{
    display:flex;
    flex-direction:column;
}
.error{
    color:red;
    font-size:12px;
    text-align:right;
}